.header {
    height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #5423e7;
}

.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li {
    list-style: none;
}

.navigation li:not(:last-child) {
    margin-right: 10px;
}

.navigation a[aria-current=page]{
    color: #FFFFFF;
}

@media (min-width: 701px) {
    .header {
        flex-direction: row;
    }
}