.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 20px auto;
    text-align: center;
    letter-spacing: -.03em;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.14;
}

.table {
    border-collapse: collapse;
    overflow-x: auto;
}

.table thead > tr:last-child > th {
    border-bottom: 1px solid #FFFFFF;
    padding: 5px;
}

.table td {
    padding: 5px;
}

.table tfoot td {
    border-top: 1px solid #FFFFFF;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info li {
    list-style: none;
    margin: 0 10px;
}