@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.select {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 0.8rem 1.4rem 1rem;
    background: rgba(57, 63, 84, 0.8);
}

.select:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(
        to right,
        #b294ff,
        #57e6e6,
        #feffb8,
        #57e6e6,
        #b294ff,
        #57e6e6
    );
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

.select input {
    cursor: pointer;
    pointer-events: none;
    border-style: none; 
    background: transparent; 
    outline: none;
    flex-grow: 1;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.4rem;
    vertical-align: middle;
    &::-webkit-select-placeholder {
        color: #7881a1;
    }
}

.select input::-webkit-input-placeholder {
    color: #7881a1;
}

.select input::-webkit-outer-spin-button,
.select seinputlect::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select input[type=number] {
  -moz-appearance: textfield;
}

.options {
    margin: 0;
    padding: 0;
}

.options li {
    list-style: none;
    padding: 5px;
}

.options li:hover {
    color: #7881a1;
    background-color: #5423e7;
}

.active {
    color: #7881a1;
    background-color: #5423e7;
}
