.input {
    width: 100%;
    max-width: 100px;
    border: none;
    outline: none;
    background: transparent;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.input::-webkit-input-placeholder {
    color: #7881a1;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type="number"] {
    -moz-appearance: textfield;
}

.input:disabled {
    border-color: transparent;
}
